.App {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  padding: 20px;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
}

.questionContainer {
  width: 100%;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  background-color: lightgrey;
}

.questionTitle {
  font-weight: bold;
  padding-bottom: 20px;
}

.questionStep {
  padding-left: 5px;
  font-weight: normal;
}

.answersContainer {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.answerButton {
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #efefef;

  &:hover {
    background-color: #e1e1e1;
  }

  &:active {
    background-color: #efefef;
  }
}

.answerBox {
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #efefef;
  text-align: center;
}

.answerCorrect {
  background-color: #C7F64E;
}

.answerWrong {
  background-color: #e96b6c;
  color: white;
}

.nextButton {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: lightgrey;
  margin-top: 20px;

  &:hover {
    background-color: #b9b7b7;
  }

  &:active {
    background-color: lightgrey;
  }
}

.resultContainer {
  width: 100%;
  text-align: center;
  padding: 70px 20px;
  background-color: lightgrey;
  border: none;
  border-radius: 20px;
}

.resultTitle {
  font-weight: bold;
  font-size: 20px;
}

.resultSummary {
  font-weight: bold;
  font-size: 26px;
  padding: 10px 0;
}

.resultRating {
  font-weight: bold;
  font-size: 26px;
}


@media only screen and (max-width: 1000px) {
  .answerButton {
    max-width: 1000px;
  }

  .answerBox {
    max-width: 1000px;
  }
}